<!DOCTYPE HTML>
<html>

<head>
	<!-- <title>Footwear - Free Bootstrap 4 Template by Colorlib</title> -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/icomoon.css">
	<!-- Ion Icon Fonts-->
	<link rel="stylesheet" href="/css/ionicons.min.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="/css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">

	<!-- Date Picker -->
	<link rel="stylesheet" href="/css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/css/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<style>
        /* Add any additional styles here */
        #user-icon {
            display:right ;
			float: left; /* Initially hide the user icon */
        }
    </style>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		var userIcon = document.getElementById("user-icon");

		userIcon.addEventListener("mouseover", function () {
			// Show the user icon
			userIcon.style.display = "block";

			// Set a timeout to hide the user icon after 2 minutes (120,000 milliseconds)
			setTimeout(function () {
				userIcon.style.display = "none";
			}, 120000); // 2 minutes in milliseconds
		});
	});
</script>



</head>

<body>

	<div class="colorlib-loader"></div>

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-sm-7 col-md-9">
							<div id="colorlib-logo"><a href="">
									<h2>VANIL<span style="color: cadetblue">LA</span> MO<span
											style="color: cadetblue">ON</span></h2>
								</a></div>
						</div>

					</div>
					<div class="row">
						<div class="col-sm-12 text-left menu-1">
							<ul>
								<li><a href="/">Home</a></li>

								<li><a href="/shop?page=1">Shop</a></li>
								<li class="has-dropdown">

								</li>

								<li><a href="/about">About</a></li>
								<li><a href="/contact">Contact</a></li>


								<li class="nav-item dropdown" style="float: right;">
									<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i id="user-icon" class="fa-solid fa-user"></i>
									</a>
									<div class="dropdown-menu" aria-labelledby="userDropdown">
										<%if(user){%>
										<a class="dropdown-item" href="/userdetails"><%= user.userName %></a>
										<a class="dropdown-item" href="/wishList">WishList</a>
										<a class="dropdown-item" href="/logout">Logout</a>
										<% } else{ %>
										<a class="dropdown-item" href="/login">Login</a>
										<% }%>
									</div>
								</li>
		

								<li class="cart"><a href="/cart"><i class="bi bi-cart"></i></a>
								</li>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>